:root {
  --space: 1rem;
  --color-primary: #00b7ff;
}
* {
  margin:0; padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  box-sizing: border-box;
}
body {
  padding: var(--space);
}

a {
  color: var(--color-primary);
}

h2{
  font-size: 4rem;
  /* color: var(--color-primary); */
  font-weight: 800;
  letter-spacing: -0.2rem;
}
#map {
  height: 50vh;
  border-radius: var(--space);
}


table, form { 
  width: 100%;
  /* border: 1px solid var(--color-primary); */
  border-radius: var(--space);
  padding: var(--space);
}

form { 
  display: flex;
  flex-direction: column;
  align-items: stretch;
  gap: calc(var(--space) / 2 );
}

input, button, .button {
  text-decoration: none;
  font-size: 1rem;
  padding: calc(var(--space) / 2 );
  border: 1px solid #e3e3e3;
  border-radius: calc(var(--space) / 2 );

}
table form {
  display: inline;
}
form label { 
  display: grid;
  grid-template-columns: 100px 1fr;
}