<%- include('../template/header') %>

    <h2>Nueva Bicicleta</h2>  
    <form method="POST" action="/bicicletas/create">
        <label> ID <input type="text" name='id'> </label>
        <label> color <input type="text" name='color'> </label>
        <label> modelo <input type="text" name='modelo'> </label>
        <label> lat <input type="text" name='lat'> </label>
        <label> lng <input type="text" name='lng'> </label>
        <button type="submit">Guardar</button>
    </form>
    
<%- include('../template/footer') %>
