<%- include('../template/header') %>

    <h2>Bicicletas</h2>  
    <table>
        <thead>
            <th></th>
            <th>Color</th>
            <th>Modelo</th>
            <th></th>
        </thead>
        <% bicis.forEach(function(bici){ %>
            <tbody>
                <td><%= bici.id %></td>
                <td><%= bici.color %></td>
                <td><%= bici.modelo %></td>
                <td>
                    <a class="button" href=<%= 'bicicletas/' + bici.id %>>Ver</a>
                    <a class="button" href=<%= 'bicicletas/' + bici.id + '/update' %>>Editar</a>
                </td>
                <td>
                    <form method="post" action=<%= 'bicicletas/' + bici.id + '/delete' %>>
                        <input type="hidden" name='id' value=<%= bici.id%> />
                        <button type="submit">Eliminar</button>

                    </form>
                </td>
            </tbody>
        <% }); %>
    </table>

    <%- include('../template/footer') %>
