<%- include('../template/header') %>

    <h2>Editar Bicicleta</h2>  
    <form method="POST" action=<%= '/bicicletas/' + bici.id + '/update' %> >
        <label> ID <input type="text" name='id' value=<%=bici.id %>> </label>
        <label> color <input type="text" name='color' value=<%=bici.color %>> </label>
        <label> modelo <input type="text" name='modelo' value=<%=bici.modelo %>> </label>
        <label> lat <input type="text" name='lat' value=<%=bici.ubicacion[0] %>> </label>
        <label> lng <input type="text" name='lng' value=<%=bici.ubicacion[1] %>> </label>
        <button type="submit">Guardar</button>
    </form>
    
<%- include('../template/footer') %>
